.downloadDiv, .waitingDiv, .errorDiv {
    display: none;
}

html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(234,51,35);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    color: white;
    text-shadow: 3px 3px 0px black;}

strong {
    text-shadow: 2px 2px 0px black;
    font-weight: bold;
    color: white;
}

select {
    appearance: none;
    border: 3px solid black;
    outline: 0;
    font: inherit;
    padding: 1em 3em 1em 3em;
    background-color: white;
    color: black;
    border-radius: 50px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    font-weight: bold;
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
}

.url {
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    border-radius: 50px;
    border: 3px solid black;
    outline: none;
    width: 80%;
}

.submit {
    padding: 1em;
    margin: 1em;
    padding: 1em 3em 1em 3em;
    font-size: 1em;
    border-radius: 50px;
    border: 3px solid black;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}

.downloadDiv {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waitingDiv {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.downloadBut {
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    border-radius: 50px;
    border: 3px solid black;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    font-weight: bold;
}

.loading {
    width: 100px;
    height: 100px;
    text-align: center;
}

p {
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.2em;
}

.urlDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .urlDiv {
        width: 60%;
        flex-direction: row;
        align-items: center;
    }
}


@media only screen and (max-width: 767px) {
    .urlDiv {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}